<%- include('../partials/header.ejs') %>

<form action="http://localhost:8000/genres" method="post">
  <h1>Crear Genero</h1>
  <div>
    <input type="text" name="name" placeholder="Nombre..." />
  </div>
  <div>
    <button type="submit">Enviar</button>
  </div>
</form>

<%- include('../partials/footer.ejs') %>
